<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Basic-colored-logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title><%= content.title %></title>
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background: linear-gradient(#38B8F8, #2668EC);
            color: #333;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #444;
            text-align: center;
            margin-top: 20px;
        }
        h2 {
            color: #666;
            text-align: center;
            margin-top: 10px;
        }
        div.content-container {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
        }
        iframe {
            display: block;
            margin: 20px auto;
        }
        pre, div {
            white-space: pre-wrap;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content-container">
        <h1><%= content.title %></h1>
        <h2>By <%= content.author %></h2>
        <% if (content.type === 'video') { %>
            <iframe width="560" height="315" src="<%= content.content.url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <% } else if (content.type === 'poem') { %>
            <pre><%= content.content.text %></pre> <!-- Use <pre> to preserve formatting like line breaks -->
        <% } else if (content.type === 'article') { %>
            <div><%= content.content.text %></div> <!-- Use <div> for articles, you can add more styling here -->
        <% } %>
    </div>
</body>
</html>